<%- include('partials/header.ejs')%>

  <body>
    <%- include('partials/navbar')%>
      <div class="container">

        <% for (u of usuario) {%>
          <div class="card mt-4">
            <div class="card-header">
              <h3>
                <%= u.titulo %>
              </h3>
            </div>
            <div class="card-body">
              <p>
                <%= u.descricao%>
              </p>
            </div>
          </div>
          <% }%>
      </div>

  </body>
  <%- include('partials/footer.ejs') %>
